doctype html
html(lang=en)
	head
		title Tile explorer
		link(rel='stylesheet', href='/explore.css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(type='text/javascript', src='/explore.js')
		script(type='text/javascript', src='/colors.js')
	body
		img#throbber(src='/throbber.gif')
		#palette
			#pcolor1.pcolor
			#pcolor2.pcolor
			#pcolor3.pcolor
			#pcolor4.pcolor
			#pcolor5.pcolor
		#entropy
		h1 Dekorum tile explorer:
	#elblocko
		#namesWrap
			label.radio.inline
				input(type="radio", name="optionRadios", id="raw", value="raw", checked="")
				|raw
			label.radio.inline
				input(type="radio", name="optionRadios", id="canvas", value="canvas")
				|canvas
			label.radio.inline
				input(type="radio", name="optionRadios", id="serv", value="served")
				|served
			br
			select#names(size=60, onchange='exploreTile()')
				each name in names
					option(value=name)= name
			p#size
			p
				button#viz(onclick='contentAnalyze()')
					|content analyze
		img#daimg
		img#served
		canvas#cnv(width=1280, height=720)
		canvas#analyze(width=1280, height=720)
