body {
	font-family: Helvetica,Arial;
}

#elblocko {
	white-space: nowrap;
	font-size: 10px;
}

#names {
	font-size: 9px;
}

#namesWrap {
	float: left;
	margin-right: 20px;
}

#cnv {
	width: 1280px;
	height: 720px;
	display: none;
	border: solid silver 1px;
}

#served {
	width: 1280px;
	height: 720px;
	display: none;
	border: solid #555555 1px;
}

#size {
}

#daimg {
	border: solid black 1px;
}
