body {
	font-family: Helvetica,Arial;
}

#elblocko {
	white-space: nowrap;
	font-size: 10px;
}

#names {
	font-size: 9px;
}

#namesWrap {
	float: left;
	margin-right: 20px;
}

#cnv {
	width: 1280px;
	height: 720px;
	display: none;
	border: solid silver 1px;
}

#served {
	width: 1280px;
	height: 720px;
	display: none;
	border: solid #555555 1px;
}

#size {
}

#daimg {
	border: solid black 1px;
}

#hdwrap {
	display: inline-block;
	width: 800px;
	height: 40px;
	vertical-align: top;
	padding-left: 10px;
}

#throbber {
	width: 40px; height: 40px;
	display: none;
}

#palette {
	height: 36px;
	width: 750px;
	border: solid silver 1px;
	padding-left: 5px;
	display: none;
}

.pcolor {
	border: solid black 1px;
	height: 30px;
	width: 80px;
	display: inline-block;
	margin: 2px;
}

#entropy {
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	padding-left: 8px;
}
